/* popup task */

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(17, 17, 17, 0.5);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: rgba(17, 17, 17, 0.5);
  width: 450px;
  height: 400px;
  color: white;
  z-index: 2;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.popup .close-btn {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 20px;
  width: 35px;
  height: 35px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup .close-btn:hover {
  background: rgba(126, 126, 126, 0.4);
  color: rgba(17, 17, 17, 0.5);
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 500ms ease-in-out;
  transform: translate(-50%, -150%) scale(1);
}

.taskbtn {
  width: 7em;
  height: 2em;
  border-radius: 20px;
  background-color: rgba(17, 17, 17, 0.4);
  color: white;
}
